.container {
  max-width: 1500px;
  width: 90%;
  margin: auto;
}
img {
  max-width: 100%;
}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  display: flex;
  width: 100%;
}
.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  margin-top: -11px;
  float: left;
  width: 80%;
}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 40%;
}
.headind_srch {
  padding: 15px 20px 0 20px;
  background-color: #00828f;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: white;
  font-weight: 400;
  font-size: 21px;
  margin-bottom: -10px;
  margin-top: 10px;
  font-family: "Merriweather", serif;
}
.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}
.srch_bar .input_group_addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input_group_addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 17px;
  color: #464646;
  margin: 0 0 8px 0;
  font-family: "Crimson Text", serif;
  font-family: "Merriweather", serif;
}
.chat_ib h5 span {
  font-size: 13px;
  float: right;
}
.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}
.chat_img {
  float: left;
  width: 11%;
}
.chat_img :hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}
.chat_ib :hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}
.chat_ib :hover {
  background-color: none;
}

.chat_people {
  padding: 10px;
  overflow: hidden;
  clear: both;
}

.hh :hover {
  border-radius: 5px;
  /* background-color: grey; */
  cursor: pointer;
}

.chat_list {
  background-color: white;
  padding: 18px 0 10px;
}
.inbox_chat {
  height: 580px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg {
  width: 57%;
}
.mesgs {
  float: left;
  padding: 30px 15px 20px 25px;
  width: 70%;
  /* width: 1000px; */
  /* min-width: 10px; */
}

.sent_msg p {
  background: #00828f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top-style: solid;
  border-top-width: 1px;
  padding: 0 5px 0 10px;
  position: relative;
}
.msg_send_btn {
  /* background: #05728f none repeat scroll 0 0; */
  border: medium none;
  /* border-radius: 50%; */
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
  margin-right: 10px;
  margin-top: -3px;
}
.sendIcon {
  color: rgb(42, 187, 172);
  /* margin-left: -10px; */
}
.messaging {
  padding: 0 0 0 0;
}
.msg_history {
  height: 500px;
  overflow-y: auto;
}

.msgHeader {
  margin: -30px -30px 30px -25px;
  padding: 16px 250px 13px 10px;
  background-color: #00828f;
  color: white;
  font-size: 1.1rem;
  font-family: "Crimson Text", serif;
  font-family: "Merriweather", serif;
  font-weight: 600;
}

.write_msg {
  padding: 0 5px 0 10px;
}
.openConversation {
  display: flex;
  margin-left: 5%;
  margin-right: 80px;
}
.line {
  color: rgb(42, 187, 172);
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}
.mesgs1 {
  /* float: left; */
  padding: 2% 15px 10px 1%;
  width: 70%;
  /* width: 150%; */
  /* min-width: none; */
}

.friendDiv {
  background-color: white;
  border-radius: 5px;
  margin: 10px 4px;
  position: relative;
}

.hh1 {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}
.hh1 :hover {
  cursor: pointer;
}

.friendDiv:hover .hh,
.friendDiv.hover .hh,
.friendDiv.hover .chat_ib,
.friendDiv.hover .chat_img {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  display: block;
}

.noBuddies {
  background-color: white;
  padding: 10px 40px;
  font-size: 1.2rem;
  color: grey;
}

@media only screen and (max-width: 800px) {
  .chat_ib h5 {
    /* float: right; */
    font-size: 14px;
    color: #464646;
    /* color: red; */
    margin: 0 0 8px 17px;
    font-family: "Crimson Text", serif;
    font-family: "Merriweather", serif;
  }
  .chat_ib h5 span {
    font-size: 10px;
    float: right;
  }
  .chat_ib p {
    font-size: 10px;
    color: #989898;
    /* margin: auto; */
  }
  .recent_heading h4 {
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: -10px;
    margin-top: 10px;
    font-family: "Merriweather", serif;
  }
  .chat_img {
    float: left;
    width: 12%;
  }
  .chat_list {
    background-color: white;
    padding: 0 0;
  }
  .noBuddies {
    background-color: white;
    padding: 2px 10px;
    font-size: 0.8rem;
    color: grey;
  }
  .openConversation {
    display: flex;
    margin-left: 1%;
    margin-right: 80px;
  }
  .line {
    color: rgb(42, 187, 172);
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
  }
  .mesgs1 {
    /* float: left; */
    padding: 2% 5px 5px 1%;
    width: 70%;
    /* width: 150%; */
    /* min-width: none; */
  }
}
