.searchField {
  width: 50%;
  background-color: rgba(42, 187, 172, 0.1);
}

.searchDiv {
  text-align: center;
}

.results {
  margin: 50px 150px;
  text-align: center;
}

.topDestinations {
  text-align: left;
  font-weight: 400;
  font-family: "Noto Serif", serif;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(42, 187, 172);
}

.imageList {
  padding: 50px 15px;
  margin: 50px 15px;
}
