.route {
  display: flex;
  justify-content: center;
}

.from {
  background-color: rgba(42, 187, 172, 1);
  padding: 5px 30px;
  margin: auto 50px;
  border-radius: 3px;
  color: white;
}

.header {
  color: white;
  font-size: 3rem;
  /* background-color: #055052; */
  background-color: #00838f;
  margin: -15px -16px;
  margin-bottom: 10px;
  padding: 12px 18px 8px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
