.tripDecor {
  /* padding:0 10% 0; */
  width: 100%;
}

.tripDecorCard {
  width: 100%;
  margin-top: 60px;
}

.selfTripDiv {
  width: 60%;
  /* text-align: center; */
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(42, 187, 172, 1);
  margin: 5% 5%;
}

.selfTripCard {
  text-align: left;
  margin: 40px 0;
}

.parentDiv {
  /* justify-content: space-between; */
  /* position: relative; */
  display: flex;
}

.filter {
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
  margin: 100px 10px auto 30px;
  padding: 10px 25px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

.filterYourSearch {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "PT Serif", serif;
}

.filterHead {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-bottom: 25px;
}

.filterRouteHead {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-top: -5px;
}

.filterHeadDate1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-bottom: 10px;
}
.filterHeadDate2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 30px;
}

.filterDiv {
  /* margin-right: -80px; */
  margin-bottom: 0;
}

.checkbox {
  margin: -15px 0;
}
.checkbox1 {
  margin-bottom: 50px;
}

.tripHead {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}

.routeDiv {
  display: flex;
  width: 100%;
}

.selectDiv {
  background-color: white;
  margin-left: 20px;
  width: 170px;
}
.selectDiv1 {
  margin-left: 39px;
  width: 170px;
}

.routeP {
  margin-top: 10px;
  font-size: 1rem;
}

.cancel {
  font-size: 1.3rem;
  margin-top: -2px;
  margin-left: 10px;
  color: rgba(42, 187, 172, 1);
}
.cancel :hover {
  color: rgba(42, 187, 172, 0.8);
  cursor: pointer;
}
.clear {
  margin: -2px;
  margin-left: 120px;
}
