.tripDecor {
  /* padding:0 10% 0; */
  width: 100%;
}

.tripDecorCard {
  width: 100%;
  margin-top: 60px;
}

.selfTripDiv {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(42, 187, 172, 1);
  margin: 5% 10%;
}

.selfTripCard {
  text-align: left;
  margin: 50px 0;
}

.parentDiv {
  justify-content: space-between;
  /* position: relative; */
  display: flex;
}

.filter {
  margin: 200px 30px auto 30px;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
